@layer payload-default;

/* Tailwind without Preflight, but with a prefix (https://github.com/tailwindlabs/tailwindcss/discussions/15719) */
@import "tailwindcss/theme.css" layer(base) prefix(tw);
@import "tailwindcss/utilities.css" layer(utilities) prefix(tw);

@plugin '@tailwindcss/typography';

@source '../../**/*.{ts,tsx}';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@theme {
  --font-serif: var(--font-serif);

  --spacing-base: var(--base);

  --color-theme-bg: var(--theme-bg);

  --color-theme-elevation-0: var(--theme-elevation-0);
  --color-theme-elevation-50: var(--theme-elevation-50);
  --color-theme-elevation-100: var(--theme-elevation-100);
  --color-theme-elevation-200: var(--theme-elevation-200);
  --color-theme-elevation-300: var(--theme-elevation-300);
  --color-theme-elevation-400: var(--theme-elevation-400);
  --color-theme-elevation-500: var(--theme-elevation-500);
  --color-theme-elevation-600: var(--theme-elevation-600);
  --color-theme-elevation-700: var(--theme-elevation-700);
  --color-theme-elevation-800: var(--theme-elevation-800);
  --color-theme-elevation-900: var(--theme-elevation-900);
  --color-theme-elevation-1000: var(--theme-elevation-1000);
}
